---
import Layout from "../../layouts/Layout.astro";
import { getStaticPathsForPage } from '../../i18n/utils';

export function getStaticPaths() {
  return getStaticPathsForPage();
}

// const { locale } = Astro.params;
---

<Layout title="Cooking class generator">
  <main>
    test page
  </main>
</Layout>

<style>
  
</style>
