---
import Layout from '../../layouts/Layout.astro';
import { getStaticPathsForPage } from '../../i18n/utils';

export const getStaticPaths = getStaticPathsForPage;

// const { locale } = Astro.params;
---

<Layout title="Cooking class generator">
  <main>
    test page
  </main>
</Layout>
