@use '/src/styles/functions' as fn;

// @use '/src/styles/mixins' as mx;
// @use '/src/styles/mediaqueries' as mq;

/*
:root {
  @include mq.color-scheme-dark {
  }
}
*/

.autocomplete {
  position: relative;

  &__list {
    // display: none;
    position: absolute;
    top: calc(100% + fn.to-rem(var(--spacing-xs)));
    width: 100%;
  }
}
