@use '/src/styles/functions' as fn;
// @use '/src/styles/mediaqueries' as mq;

/*
:root {
  --section-header-background: var(--color-gray-100);
  --section-content-background: var(--color-white);
}
*/

.menu {
  display: flex;
  flex-direction: column;
  gap: fn.to-rem(var(--spacing-3xl));
}