---
import Layout from '../layouts/Layout.astro';
import {
  getLangFromUrl,
  getStaticPathsForPage,
  languages,
  // useTranslations,
} from '../i18n/utils';
import LanguagePicker from '../components/LangSwitch/LangSwitch';

// import { ingredientsData } from '../data/ingredients';
// import {
// filterArrayOfObjects,
// sortArrayOfObjects,
// } from '../data/dataHelper';
// import Badge from '../components/Badge/Badge.astro';

export const getStaticPaths = getStaticPathsForPage;

const currentLang = getLangFromUrl(Astro.url);
// const t = useTranslations(lang);
// const ingredientsRaw = await ingredientsData();
// const filtered = filterArrayOfObjects(ingredientsRaw, 'category', 'fruits');
// const ingredients = sortArrayOfObjects(filtered, lang);

const langItems = Object.entries(languages)
  .map(([
    link,
    label,
  ]) => ({
    icon: link,
    label,
    link: `/${link}`,
  }))
  .filter((item) => item.icon !== currentLang);
---

<Layout title="Cooking class generator">
  <main>
    <!-- <Badge /> -->

    <LanguagePicker
      client:load
      lang={currentLang}
      items={langItems}
    />

    <!--
    <div class="foo">
      {ingredients.map((ingredient) => (
        <p>{ingredient[lang]}</p>
      ))}
    </div>
    -->
    <!-- <p>new localized index {t('nav.foo')}</p> -->
  </main>
</Layout>
