---
import Layout from "../layouts/Layout.astro";
import { getLangFromUrl, useTranslations, getStaticPathsForPage } from '../i18n/utils';
import LanguagePicker from '../components/LangSwitch.astro';
import { getIngredients } from "../data/helper";

export function getStaticPaths() {
  return getStaticPathsForPage();
}

const t = useTranslations(getLangFromUrl(Astro.url));
const ingredients = await getIngredients();

---

<Layout title="Cooking class generator">
  <main>
    <LanguagePicker />
    <p>{JSON.stringify(ingredients)}</p>
    <!-- <p>new localized index {t('nav.foo')}</p> -->
  </main>
</Layout>

<style>
  
</style>
