---
import { languages } from '../../i18n/utils';
import Dropdown from '../DropdownList/DropdownList.astro';
import Button from '../Button/Button.astro';

const items = Object.entries(languages)
  .map(([
    link,
    label,
  ]) => ({
    icon: link,
    label,
    link,
  }));

---
<div>
  <Button
    color="primary"
    label="some button text"
    size="s"
    icon="de"
  />
  <Dropdown
    items={items}
  />
</div>
