---
const {
  title,
} = Astro.props;

import { getLangFromUrl } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);

---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Cooking challenge generator" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="layout">
    <slot />
  </body>
</html>
<style is:global lang="scss">
  @use '../styles/mediaqueries' as mq;
  @use '../styles/functions' as fn;
  @import '../styles/variables/variables';

  html {
    font-size: calc(var(--font-size-base) * 1px);
  }

  body {
    font-family: var(--font-family);
    font-size: fn.to-rem(var(--font-size-base));
    background-color: var(--color-background);
    color: var(--color-foreground);
    line-height: var(--font-line-height);
  }

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    hyphens: auto;
  }

  ul {
    list-style-type: none;
  }

  .layout {
    max-width: fn.to-rem(var(--content-max-width));
    margin: 0 auto;
    padding: 0 fn.to-rem(var(--content-padding));
  }

</style>
